/*! Card started */
.card {
  padding-bottom: 120px;
}

.card__list {
  display: none;
  margin-right: 125px;
  @include list-unstyle;
}
.card__form-list {
  @include list-unstyle;
}
.card__form-item:not(:last-child) {
  margin-bottom: 96px;
}
.card__form-summary {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 32px;
  color: #83888f;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  list-style: none;
  &::before  {
    display: inline-block;
    margin-top: 10px;
    width: 19px;
    height: 18px;
    background-image: url("../../images/current.svg");
    background-repeat: no-repeat;
    transition: 0.4s linear;
    content: "";
  }
}
.card__form-details[open] .card__form-summary::before {
  transform: rotate(180deg);
}

.card__form-label {
  display: block;
  margin-bottom: 16px;
}
.card__form-info {
  width: 100%;
  padding: 24px 25px;
  border-radius: 8px;
  background-color: #f4f1eb;
  color: #333d4b;
  transition: 0.4s linear;
  cursor: pointer;
  &:hover {
    background-color: #fdd6ba;
  }
}
.card__form-input:checked ~ .card__form-info {
  background-color: #0e8784;
  color: #fff;
}
.cadr__form-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}
.card__form-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.card__order {
  margin-bottom: 56px;
  padding: 32px 24px;
  background-color: #2c343e;
  border-radius: 10px;
}
.card__order-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: #fff;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.card__order-text {
  margin-top: 0;
  color: #fff;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}
.card__order-span {
  display: inline-block;
  color: #0e8784;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}
.card__order-button {
  display: flex;
  justify-content: center;
}
.card__order-btn {
  padding: 15px 36px;
  color: #fefcf7;
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  border-radius: 6px;
  background-color: #0e8784;
  text-decoration: none;
  transition: 0.4s linear;
  &:hover {
    background-color: #66d2cf;
  }
}
// Media start
@include mobile-first(650px) {
  .card__form-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .card__form-info {
    max-width: 180px;
    width: 100%;
  }
}
@include mobile-first(768px) {
  .card__wrapper {
    margin-bottom: 84px;
  }
  .card__form-info {
    padding: 32px 26px 84px 25px;
    max-width: 180px;
    width: 100%;
  }
  .card__form-summary {
    font-size: 32px;
    line-height: 48px;
  }
  .cadr__form-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .card__form-text {
    font-size: 16px;
    line-height: 26px;
  }
  .card__order {
    margin: 0 auto 40px;
    padding: 27px 44px;
    max-width: 689px;
    width: 100%;
  }
}


@media screen and (min-width: 992px) {
  .card {
    padding-bottom: 168px;
  }
  .card__wrapper {
    display: flex;
  }
  .card__order {
    max-width: 730px;
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    margin-left: 0;
    margin-right: 0;
  }
  .card__oreder-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .card__item {
    margin-left: 50px;
    margin-right: 75px;
    padding-bottom: 24px;
    border-bottom: 1px solid #83888f;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  .card__form-summary {
    font-size: 18px;
    line-height: 48px;
  }
  .card__list {
    display: block;
  }
  .card__item {
    min-width: 242px;
  }
  .card__form-summary {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 32px;
    color: #83888f;
    font-family: "Fraunces";
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    list-style: none;
    &::before  {
      display: inline-block;
      margin-left: 311px;
      margin-top: 10px;
      width: 19px;
      height: 18px;
      background-image: url("../../images/current.svg");
      background-repeat: no-repeat;
      transition: 0.4s linear;
      content: "";
    }
  }
  .card__link {
    color: #acafb2;
    font-family: "Fraunces";
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    text-decoration: none;
    &:hover  {
      color: #333D4B;
    }
    &:active {
      color: #858a90;
    }
  }
  .card__span {
    margin-right: 28px;
    color: #83888f;
    font-family: "Fraunces";
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
  }
  .card__link:hover .card__span {
    color: #0e8784;
  }
}
@include mobile-first (1140px) {

  .card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card__form-info {
    margin-right: 15px;
    // max-width: 228px;
    padding-left: 28px;
    padding-right: 28px;
  }

}