/*! Header section started */
.site-header {
  padding: 32px 0 40px;
}
.site-header__wrapper {
  @include flex-box(space-between, center)
}
.site-header__burger {
  width: 16px;
  height: 15px;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
.site-header__nav {
  display: none;
}

// Media start
@include mobile-first(650px) {
  .site-header {
    padding: 40px 0 53px;
  }
  .site-header__logo {
    width: 236px;
    height: 26px;
  }
  .site-header__burger {
    display: none;

  }

  .site-header__nav {
    display: block;
  }
  .nav__list {
    @include list-unstyle;
    display: flex;
  }
  .nav__item:not(:last-child) {
    margin-right: 32px;
  }
  .nav__link {
    color: #83888f;
    font-family: "Barlow";
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
@include mobile-first(992px) {
  .site-header {
    padding: 45px 0;
  }
}